body{
    /* background-color:#e3eefd; */
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    background-color: #ffffff;
}

p{
  box-sizing: border-box;
  border: 5px;
  padding: 5px;
  margin: 5px;
  width: auto;
  position: relative;
  text-align: center;
}

img{
  margin: 0 auto;
  display: block;
  position: relative;
}

h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 3em;
  box-sizing: border-box;
  border: 5px;
  padding: 5px;
  margin: 5px;
  width: auto;
  position: relative;
  text-align: center;
}

h2{
  font-family: 'Raleway', sans-serif;
  font-size: 1.8em;
  box-sizing: border-box;
  border: 5px;
  padding: 5px;
  margin: 5px;
  width: auto;
  position: relative;
  text-align: center;
}


/* li{
	text-decoration: none;
	display:inline;
	background-color: #ffffff;
	color: #000000;
  float: left;
} */

/* refered to https://www.w3schools.com/css/css_navbar.asp for help with navigation - ul, li a, li a:hover */

/* li a:hover {
  background-color: #000000;
  min-height: 2.5vh;
}

a{
  font-family: 'Raleway', sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #666666;
}

li a {
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
} */

/* nav li {
  text-decoration: none;
  alignment: center;
  background-color: #666666;
  display: block;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
}

nav ul li {
  width: 100%
}

.current {
  text-transform: uppercase;
  font-style: italic;
  font-weight: bold;
  background-color: #000000;
  text-decoration: underline #ffffff;
}

@media screen and (min-width: 700px) {
  .current {
    min-height: 2.5vh;
  }
  nav ul li {
    width: 20%;
  }
} */

/* used / slightly altered code from https://accessibility.oit.ncsu.edu/it-accessibility-at-nc-state/developers/accessibility-handbook/mouse-and-keyboard-events/skip-to-main-content/ for skip to main content lines 35-59*/

.skip-main {
  left: -999px;
  position: absolute;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  /* z-index: -999; */
}

a.skip-main:focus,
a.skip-main:active {
  color: #ffffff;
  background-color: #000000;
  left: auto;
  top: auto;
  width: 20%;
  height: auto;
  overflow: auto;
  margin: 10px 35%;
  padding: 5px;
  border-radius: 15px;
  border: 4px #ffffff;
  text-align: center;
  font-size: 1.2em;
  /* z-index: 999; */
  font-family: 'Raleway', sans-serif;
  position: absolute;
    /* left: -200px; */
  margin-top: 100px;
  margin-left: 60px;
}

footer {
  background-color: #666666;
  color: #ffffff;
  display: block;
  min-height: 4.5vh;
  margin: 0;
  text-align: center;
  padding: 14px 16px;
  position: relative;
  text-align: center;
  margin-bottom: -20px;
}

/* used https://www.taniarascia.com/how-to-build-a-responsive-image-gallery-with-flexbox/ for coding for my gallery page */
/* used grid here for the gallery page */

.gallery {
  /* margin: auto; */
  /* max-width: 1200px; */
  box-sizing: border-box;
  border: 10px;
  padding: 10px;
  margin: 10px;
  width: auto;
}

.gallery-grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.responsive-image {
  max-width: 100%;
}

/* .responsive-image:hover {
  transform: rotateY(180deg);
  color: black;
} */

.gallery-item img{
  display: inline-block;
  position: relative;
  /* margin: 1rem; */
  width: 100%;
  /* object-fit: scale-down; */
  object-fit: fill;
}

.flip-box {
  background-color: transparent;
  /* display: inline-block;
  position: relative;
  width: 100%;
  object-fit: fill; */

  width: 300px;
  height: 200px;
  perspective: 1000px;
}

.flip-box-inner {
  position: relative;
  /* width: 100%;
  height: 100%; */
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
  background-color: #666666;
}

/* @media (prefers-reduced-motion: reduce) {
  .flip-box:hover {
    transform: none;
  }
  .flip-box-back {
    transform: none;
  }
} */

.flip-box-front, .flip-box-back {
  position: absolute;
  /* width: 100%;
  height: 100%; */
  backface-visibility: hidden;
  object-fit: fill;
}

/* .flip-box-front {
  width: 100%;
  height: 100%;
} */

.flip-box-back {
  background-color: #666666;
  color: white;
  transform: rotateY(180deg);
  width: 100%;
  object-fit: fill;
  top: 10px;
}


/* consulted https://codepen.io/halink0803/pen/qdVXqm for the webkit-animation bounce */

/* .gallery-item img:hover{
  opacity: 0.5;
  -webkit-animation-name: bounce;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
}

@keyframes bounce {
	0%, 100%, 20%, 50%, 80% {
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
	}
	40% {
		-webkit-transform: translateY(-30px);
		-ms-transform: translateY(-30px);
		transform: translateY(-30);
	}
	60% {
		-webkit-transform: translateY(-15px);
		-ms-transform: translateY(-15px);
		transform: translateY(-15px);
	}
}

@media (prefers-reduced-motion: reduce) {
  .gallery-item img:hover {
    -webkit-animation-name: none;
  }
} */

@media screen and (min-width: 600px) {
  .gallery-item {
    width: calc(50% - 2rem);
    margin: 1rem;
  }
}

@media screen and (min-width: 1000px) {
  .gallery-item {
    width: calc(33.333% - 2rem);
  }
}

@media (prefers-reduced-motion: reduce) {
  .gallery-item img:hover {
    transform: none;
  }

  .flip-box:hover .flip-box-inner {
    transform: none;
  }

  .flip-box-back {
    transform: none;
  }
}

/* callout css - referenced https://www.w3schools.com/howto/howto_js_callout.asp  */

.callout {
  position: fixed;
  bottom: 35px;
  right: 20px;
  margin-left: 20px;
  max-width: 300px;
  z-index: 5;
}

.callout-title {
  padding: 25px 15px;
  background: #666666;
  opacity: 1;
  font-size: 25px;
  text-align: center;
  color: #ffffff;
}

.callout-container {
  padding: 15px;
  background-color: #000000;
  color: #ffffff;
}

.closebtn {
  position: absolute;
  top: 5px;
  right: 15px;
  color: #000000;
  font-size: 30px;
  cursor: pointer;
}

.closebtn:hover {
  color: #ffffff;
}

/* help for pages responsive design from https://learn.shayhowe.com/advanced-html-css/responsive-web-design/ mobile first demo */

.pages:before,
.pages:after {
  content: "";
  display: table;
}

.pages:after {
  clear: both;
}

.pages {
  *zoom: 1;
}

.pages-item {
  margin: 1.3%;
  padding: 4px 0;
  text-align: center;
}

.pages-image {
  max-width: 60%;
  background-color: blue;
}

.pages-item img {
  display: inline-block;
  position: relative;
  /* margin: 1rem;
  width: 80%; */
}

@media all and (min-width: 300px) {
  .pages-item {
    float: center;
  }
  .pages-item img{
    max-width: 100%;
}

@media and (min-width: 700px) {
  .pages-item img {
    width: 80%;
    margin: 1rem;
  }
}

@media screen and (min-width: 1000px) {
  .gallery-background{
    background: #ffffff url('../images/background.jpg') no-repeat center center fixed;
    background-size: cover;
  }
  .main-background{
    background: #ffffff url('../images/background2.jpg') no-repeat center center fixed;
    background-size: cover;
  }
}

.slideshow-container {
  box-sizing: border-box;
  max-width: 1050px;
  position: relative;
  margin: auto;
  background-color: blue;
  width: 60%;
  height: 400px;
  overflow: hidden;
}

.mySlides img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  box-sizing: border-box;
}

/* .mySlides {
  display: none;
  box-sizing: border-box;
  position: relative;
  margin: auto;
  padding: 10px;
} */

.text {
  background-color: rgba(255, 255, 255, 0.8);
  box-sizing:border-box;
  position: relative;
  color: black;
  bottom: 80px;
}


.previous, .next {
  box-sizing: border-box;
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #ffffff;
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  /* width: 45%; */
  text-align: center;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.previous:hover, .next:hover {
  /* background-color: rgba(192,192,192,0.5); */
  color: #c4daff;
}


/* h2 span {
  color: black;
  font-weight: bold;
  font-size: 18px;
  background-color: rgba(255, 255, 255, 0.8);
} */

.dot {
  cursor: pointer;
  height: 20px;
  width: 20px;
  margin: 0 2px;
  background-color: #bbb;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot-container {
  /* background-color: blue; */
  box-sizing: border-box;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8px;
  margin-bottom: 8px;
  width: 40%;
  text-align: center;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

/* .pages-images img {
  width: 100%;
  vertical-align: middle;
  box-sizing: border-box;
} */

.topnav {
  background-color: #666666;
  overflow: hidden;
  text-align: center;
  position: relative;
  overflow: hidden;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 5;
}

.main {
  padding: 16px;
  margin-top: 30px;
}

.topnav a {
  float: left;
  display: inline;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  width: 14%;
}

.topnav a:hover {
  background-color: #000000;
  color: #ffffff;
}

.current {
text-transform: uppercase;
font-style: italic;
font-weight: bold;
background-color: #000000;
/* text-decoration: underline #ffffff; */
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

a span {
  display: none;
}

/* a.icon {
  font-size: 0;
  color: transparent;
  line-height: 0;
  text-indent: -9999px;
} */

@media screen and (max-width: 600px) {
  .topnav.responsive { position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
    width: 10%;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    width: 30%;
  }
}

.modal {
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(192,192,192,0.4);
}

.modal-content {
  background-color: black;
  color: white;
  margin: auto;
  padding: 20px;
  border: 10px outset white;
  width: 80%;
}

.close {
  color: #ffffff;
  float: right;
  font-size: 35px;
  font-weight: bold;
}

.close:focus {
  color: #c4daff;
  text-decoration: none;
  cursor: pointer;
}

.close:hover {
  color: #c4daff;
  text-decoration: none;
  cursor: pointer;
}

.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
	background:-moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-o-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-ms-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf',GradientType=0);
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	/* color:#777777; */
  color: black;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
  text-align: center;
  width: 90%;
}
.myButton:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
	background:-moz-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-webkit-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-o-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-ms-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed',GradientType=0);
	background-color:#dfdfdf;
}
.myButton:active {
	position:relative;
	top:1px;
  speed: 70;
}

@media print {
  nav{
    display: none;
  }
}
